@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url('https://fonts.googleapis.com/css?family=Lobster');
html{
    scroll-behavior: smooth;

}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body, html * {
  font-family: 'Roboto', sans-serif;
}
h1{
  color: white;
}
.banner{
background: linear-gradient(54deg, #7b6c8ac7, #100bbc);
height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position:50% 50%;
}
.banner,
.banner img,
.splash-image,
.profile-image {
  height: 100%;
  width: 100%;
}

.splash-image,
.profile-image {
  object-fit: contain;

}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;

}
.text-banner10{
  width: 50%;
   height: 100vh;
   text-align: left;
}
.profile-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.profile-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.banner-text1,
.multitext {
  color: #e27d0f;
  text-shadow: 1px 1px 2px #000000;
}
.jelly-button {
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  position: relative;
  top: 40%;
  border-radius: 3.75rem;
  font-family: cursive;
  line-height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  border: 1px solid rgba(0, 0, 0, .1);
  background-image: linear-gradient(-180deg, #c67843 0%, #e86717 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.50), 0 -0.25rem 1.5rem rgb(255 119 24) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(207 145 70) inset;
}
.jelly-button:active {
  transform: translateY(1px); /* Move the button down slightly when pressed */
  box-shadow: 0 0.5rem 0.625rem 0 rgba(22, 75, 195, 0.50), 0 -0.1rem 0.75rem rgb(255 119 24) inset, 0 0.25rem 0.125rem rgba(255, 255, 255, 0.4) inset, 0 0.1rem 0.125rem 0 rgb(207 145 70) inset;
}
.jelly-button span {
  color: transparent;
  background-image: linear-gradient(0deg, #e8cd22 0%, #FEFAFD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(223, 24, 44));
}

.jelly-button::before {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;
  opacity: 0.7;
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}

.jelly-button::after {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;
  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}

.banner-text{
    text-align: center;
     position: relative;
    top: 30%;
    margin-left: 30px;
    transform: translate(-50%, -50%);
    color: #d5178a;
    font-size: 4rem;
    font-family: Lobster;
    text-shadow: 1px 1px 2px whitesmoke, 0 0 1em #1bcd9f, 0 0 0.2em 1bcd9f;

}
.text-banner1{
  display: block;
  width: -webkit-fill-available;
  top: 20%;
  height: 50vh;
  position: relative;
}

.banner-text1{
font-size: 5rem;
color: #e66c07;
position: relative;
top:30%;
font-family: Brush Script MT !important;
margin-left: 30px;
letter-spacing: 5px;
}
h1{
font-size: 5.8rem;
width: -webkit-fill-available;
margin-left: 30px;
font-family: cursive;
position: relative;
top:30%;
  }

  a{
    position: absolute;
    width: 50%;
    text-align: center;
  white-space: nowrap;
  }
a:hover {
    text-decoration: none;
}

input[type="button"].jelly-button:hover{background:rgb(242, 83, 4);
    color:black;
    text-shadow: 1px 1px 2px black;
border: transparent;}
.secTwo{
    height:100vh;
    display: flex;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-position:50% 50%;
}
.container{
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
}
.secThree{
    height:100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


}
.secThree1{
  height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.secFour{
    height:100vh;
    display: flex;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-position:50% 50%;;
      align-items: center;
  justify-content: center;

}

row{
    padding-left: 0px;
    padding-right: 0px;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #7b6c8ac7 50%, #100bbc 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    /* height: 100vh; */
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }

  .bg3 {
    animation-duration:5s;
  }

  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }

  h1 {
    font-family: cursive;
    font-weight: 700;

  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.subtext{
    text-align: center;
    position: relative;
    width: 900px;
    font-family: Lobster;
 top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 31px !important;
    text-shadow: 1px 1px 2px whitesmoke;
}

.myDash{
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 30%;

}

.glowing-text {
animation: glowing 2s infinite;
margin-left: 30px;
font-size: 4.7rem;
letter-spacing: 3px;
font-family: cursive;
position: relative;
color: white;
top:30%;

}
@keyframes glowing {
      0% {
        text-shadow: 0 0 0;
      }

      50% {
        text-shadow: 0 0 10px #ef6212fc;
      }

      100% {
        text-shadow: 0 0 0;
      }
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
@keyframes text {
    0% {

    }
    30% {
        letter-spacing: 50px;
    }
    85% {
        letter-spacing: 12px;
    }
}

@keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}
@keyframes animatetop{
    from{top:-300px;opacity:0}
    to{
        /* top:0; */
        opacity:1}}
 @keyframes animatetoptext{
            from{left:-300px;opacity:0}
            to{

                opacity:1}
            }


@keyframes button{
from{right:-500px;
    opacity:0}
to{
opacity:1}}

@media (max-width:280px){
  .bg{
 height: auto;
  }
}
@media (max-width: 480px) {
    .banner{
    height:100vh;
      }
      .subtext{
        width: 341px;
        font-size: 20px !important;

        top: 46%;
      }
      .more{
        height: 4rem;
        font-size: 17px;
        font-family: 'Lobster';
        padding-top: 6px;
        top: 48%;
      }
      .banner-text{
        top: 35%;
      }
      .secTwo{
        width: -webkit-fill-available;
      }
      .myDash{
        top: 25% !important;
      }
}

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            .banner{
            height:100vh;
              }
              .subtext{
                width: 594px;
                font-size: 23px !important;
              }
              .more{
                height: 5rem;
                font-size: 22px;
                font-family: 'Lobster';
                padding-top: 6px;

              }
              .secTwo{
                background-position: center !important;
                overflow: auto;
              }
              .section2{
                height: 100vh;
              }

        }
          /* Media Query for Laptops and Desktops */
          @media (min-width: 1025px) and (max-width: 1280px){
            .banner{
            height:100vh;
              }
              .subtext{
                width: 630px;
                font-size: 25px !important;
              }
              .more{
                height: 6rem;
                font-size: 25px;
                font-family: 'Lobster';
                padding-top: 6px;
              }
              .secTwo{
                background-position: center !important;
                overflow: auto;
              }
        }
           /* Media Query for Large screens */
        @media (min-width: 1281px) {
            .banner{
            height:100vh;
              }
              .subtext{
                width: 630px;
                font-size: 28px !important;

                top: 50%;
                left: 48%;
              }
              .more{
                height: 6rem;
                font-size: 25px;
                font-family: 'Lobster';
                padding-top: 6px;
              }

        }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .terminal-text {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }





/* For larger screens */
@media screen and (min-width: 1025px) {
  .text-banner1 {
    font-size: 5rem;

  }

  .jelly-button {
    font-size: 2.5rem;
  }
}
/* For small screen or mobile phones */
@media only screen and (max-width: 767px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner{
height:100vh;
  }
  .subtext{
    width: 341px;
    font-size: 20px !important;
  }

  .banner-text{
    top: 35%;

  }
  .secTwo{
    width: -webkit-fill-available;
    overflow: auto;
  }

  .bn{
    flex-direction: column;
  }
  .splash-container {
    width: 100%;
    height: -webkit-fill-available;
    order: -1;
  }
  .text-banner10{
    width: 100% !important;
  }

  .text-banner1 {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    height: 0vh;
  }
.banner-text1{
  top:0;
  font-size: 3.5rem;
  margin-left: 0px;
}
h1{
  font-size: 3rem;
  top: 0;
  margin-left: 0px;
}
.glowing-text{
  font-size: 3rem;
  top: 0;
  margin-left: 0px;
}
.f-btn> a{
  position: relative;
}
.jelly-button {
  font-size: 2rem;
}
}
/* For medium-sized screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .myDash{
    top: 0% !important;
  }

  .bn{
    flex-direction: column;
  }
  .splash-container {
    width: 100%;
    height: -webkit-fill-available;
    order: -1;
  }
  .text-banner10{
    width: 100% !important;
  }

  .text-banner1 {
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: auto;
  }
.banner-text1{
  margin: 0 auto;
  top: 0;
  left: 0;
  font-size: 7vw;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}
  .jelly-button {
    font-size: 2rem;
  }
  h1 {
    margin: 0 auto;
    top: 0;
    font-size: 6vw;
    position: relative;
    text-align: center;
  }
  .glowing-text{
    position: unset;
    margin: 0 auto;
    text-align: center;
  }
  .jelly-button{
  padding: 2rem 4rem;
    margin: 2vh auto 0 auto;
    font-size: 3.5vw;
    position: unset;
    display: block;
    text-align: center;
  }
  a{
    height: 0vh;
    position:unset;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .bn {
    flex-direction: column;
  }

  .splash-container {
    width: 100%;
    height: -webkit-fill-available;
    order: -1;
  }

  .text-banner10 {
    width: 100% !important;
  }

  .text-banner1 {
    font-size: 3vw;
    top: 10%;
    height: 0;
  }

  .banner-text1 {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .jelly-button {
    font-size: 1.5vw;
  }

  h1 {
    margin-left: 20vw;
    top: 0;
    font-size: 6vw;
    margin: 0 auto;
    top: 0;
    font-size: 7vw;
    position: relative;
    text-align: center;
  }

  .glowing-text {
    font-size: 7vw;
    position: unset;
    margin: 0 auto;
    text-align: center;

  }

  .jelly-button {
    padding: 3rem 5rem;
    margin-left: 25vw;
    margin-top: 4vh;
    font-size: 4vw;
    position: unset;
  }

  a {
    height: 0;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {

  .banner {
    flex-direction: column;
    align-items: center;
  }

  .bn {
    flex-direction: row;
  }

  .splash-container {
    width: 50%;
    height: auto;
    order: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-banner10 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .text-banner1 {
    font-size: 5vw;
    top: 30%;
    height: 0;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }

  .banner-text1 {
    top: 0;
    left: 5%;
    font-size: 6vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  h1{
    font-size: 4.7rem;
  }
  a> .jelly-button{
    left: 5%;
  }
}
