<!-- <p class="des">About Me</p> -->
<div class="des">
    <h2>About Me</h2>
    <h2>About Me</h2>
  </div>
  <p class="para1">
  <span>I</span>
  <span>am</span>
  <span>a</span>
  <span>creative</span>
  <span>front</span>
  <span>end</span>
  <span>developer</span>
  <span>with</span>
  <span>expertise</span>
  <span>in</span>
  <span>building</span>
  <span>rich,</span>
  <span>interactive</span>
  <span>&</span>
  <span>responsive</span>
  <span>web applications</span>
  <span>using</span>
  <span>Angular.</span>
  <span>I</span>
  <span>enjoy</span>
  <span>playing</span>
  <span>with</span>
  <span>various</span>
  <span>UI</span>
  <span>effects</span>
  <span>&</span>
  <span>animations</span>
  <span>to</span>
  <span>create</span>
  <span>user</span>
  <span>friendly</span>
  <span> &</span>
  <span>dynamic</span>
  <span>user</span>
  <span>Interface.</span>
  <span>I</span>
  <span>like</span>
  <span>to</span>
  <span> code</span>
  <span>things</span>
  <span>from</span>
  <span>scratch</span>
  <span>&</span>
  <span>bring</span>
  <span>ideas</span>
  <span>to</span>
  <span>life.</span>
  <span>I</span>
  <span>enjoy</span>
  <span>working</span>
  <span> &</span>
  <span>collaborating</span>
  <span>with</span>
  <span>ambitious</span>
  <span>people</span>
  <span>with</span>
  <span>positive</span>
  <span>mindset.</span>
  <!-- <span>While</span>
  <span>working</span>
  <span>with</span>
   <span>different</span>
  <span>pojects</span> -->
  <span></span>
</p>

<!-- I'm happiest when I'm creating, learning, exploring and thinking about how to make things better. Currently solving deceptively simple problems at UsePastel.Com. I'm not available for any freelance work, but feel free to reach out and say hello! I promise I don't bite 😉 --> -->
<!-- <p class="para2">
    <span>I</span>
    <span>enjoy</span>
    <span>working</span>
    <span> &</span>
    <span>collaborating</span>
    <span>with</span>
    <span>ambitious</span>
    <span>people</span>
    <span>with</span>
    <span>positive</span>
    <span>mindset.</span>
</p> -->


