html{
    scroll-behavior: smooth;
}
img{
    height: 200px;
    /* width: 200px; */
    scroll-behavior: smooth;
    
}

#img1:hover{
    animation: bounce 1s infinite ease-in-out alternate;
    
    
}
#img2:hover{
    animation: bounce 1s infinite ease-in-out alternate;
 
    
}
#img3:hover{
    animation: bounce 1s infinite ease-in-out
    alternate;   
    
}
#img4:hover{
    animation: bounce 1s infinite ease-in-out alternate;
  
    
}
span{
    letter-spacing: 3px;
   
}
.area{
  display:flex;
  justify-content: center;
}
.about-section{
  display:grid;
  text-align: center;
  height: 230px;
}
.work{
  display:grid;
  text-align: center;
  margin-left: 100px;
  height: 230px;
}
.skill{
  display:grid;
  text-align: center;
  margin-left: 100px;
  height: 230px;
}
.contact{
  display:grid;
  text-align: center;
  margin-left: 100px;
  height: 230px;
}
.para{
    /* margin-left: 63px; */
    position: relative;
    font-size: 30px;
    color:white;
    display: inline-block;
    top: 20%;
    font-family: Lobster;
    font-weight: 900;
    letter-spacing: 3px;
    /* top: 40%;
    transform: translate(-20%, 50%); */
  
}
p span:hover {
    position: relative;
  
    display: inline-block;
    -webkit-animation: bounce 0.1s ease-in-out infinite alternate;
   
  }
  
 p span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
p span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
p span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
p span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  
  p span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  
  p span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  
  p span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
  }
  
  p span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
  }
  
  p span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
  }
  
  p span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
  }
  
  p span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
  }
  
  p span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
  }
  
  p span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
  }


@keyframes rotate{
        0%{
       transform: rotateY(0deg);
        }
        100%{
            transform: rotateY(90deg);
        }
    
}
@keyframes bounce{
    0%{
   transform: translateY(0)
    }
    100%{
        transform: translateY(-10px);
     
    }

}
@keyframes rotate1{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}
@keyframes rotate2{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}
@keyframes rotate3{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}
@media (max-width: 480px) {
  img{
    height: 115px !important;
    

  }
  .about-section{
    align-content: center;
    height: 230px;
  }
  .area{
    flex-wrap: wrap;
  }
  .work{
    margin-left: 50px;
    align-content: center;
    height: 230px;
  }
  .skill{
margin-left: 0px !important;
align-content: center;
height: 230px;
  }
  .contact{
    margin-left: 50px;
    align-content: center;
    height: 230px;
  }
  .para{
    font-family: Lobster;
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .area{
    flex-wrap: wrap;
  }
  img{
    height: 227px !important;
    

  }
  .about-section{
    align-content: center;
    height: 250px;
  }
  .work{
    margin-left: 30px;
    align-content: center;
    height: 250px;
  }
  .skill{
margin-left: 0px !important;
align-content: center;
height: 250px;
  }
  .contact{
    margin-left: 30px;
    align-content: center;
    height:  250px;
  }
  .para{
    font-family: Lobster;
    font-size: 26px;
  }
}
  
      /* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .area{
    flex-wrap: wrap;
  }
  img{
    height: 234px !important;
    

  }
  .about-section{
    align-content: center;
    height: 340px;
    margin-left: 20px;
  }
  .work{
    margin-left: 70px;
    align-content: center;
    height: 340px;
  }
  .skill{
margin-left: 20px;
align-content: center;
height: 340px;
  }
  .contact{
    margin-left: 70px;
    align-content: center;
    height:  340px;
  }
  .para{
    font-family: Lobster;
    font-size: 30px;
  }
      }
        /* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
        
      }
         /* Media Query for Large screens */
@media (min-width: 1281px) {
   
      }
