
    <div style="display:flex;justify-content: center;">

<div style="display:grid;text-align: center;height: 300px;" (click)="onOpenAbout()">
    <img id="img1" src="../../assets/profile-girl.svg" alt="">
    <p class="para">
        <span>A</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t&nbsp;</span>
        <span >M</span>
        <span>e</span>

    </p>

</div>

<div style="display:grid;text-align: center;margin-left: 100px;height: 300px;" (click)="onOpenWork()">
    <img id="img2" style="height: 207px !important;" src="../../assets/work.svg" alt="">
    <p class="para">
        <span>W</span>
        <span>o</span>
        <span>r</span>
        <span>k</span>

    </p>
</div>
<div style="display:grid;text-align: center;margin-left: 100px;height: 300px;"(click)="onOpenSkill()">
    <img id="img3" style="height: 207px !important;"src="../../assets/code.svg" alt="">
    <p class="para">
        <span>S</span>
        <span>k</span>
        <span>i</span>
        <span>l</span>
        <span>l</span>
        <span>s</span>

    </p>
</div>
<div style="display:grid;text-align: center;margin-left: 100px;height: 300px;" (click)="openContact()">
    <img id="img4" style="height: 165px !important;" src="../../assets/phone.svg" alt="">
    <p class="para">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>

    </p>
</div>

</div>

