
    <div class="area">

<div class="about-section" (click)="onOpenAbout()">
    <img id="img1" src="../../assets/wired-lineal-269-avatar-female (1).svg" alt="">
    <p class="para">
        <span>A</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t&nbsp;</span>
        <span >M</span>
        <span>e</span>

    </p>

</div>

<div class="work" (click)="onOpenWork()">
    <img id="img2"  src="../../assets/wired-lineal-187-suitcase.svg" alt="">
    <p class="para">
        <span>W</span>
        <span>o</span>
        <span>r</span>
        <span>k</span>

    </p>
</div>
<div class="skill" (click)="onOpenSkill()">
    <img id="img3" src="../../assets/wired-lineal-742-multimedia-code-1.svg" alt="">
    <p class="para">
        <span>S</span>
        <span>k</span>
        <span>i</span>
        <span>l</span>
        <span>l</span>
        <span>s</span>

    </p>
</div>
<div class="contact" (click)="openContact()">
    <img id="img4"  src="../../assets/wired-flat-177-envelope-mail-send.svg" alt="">
    <p class="para">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>

    </p>
</div>

</div>

