html{
    scroll-behavior: smooth;
}
img{
    height: 200px;
    width: 200px;
    scroll-behavior: smooth;
    
}

#img1:hover{
    animation: rotate 1s infinite ease-in-out alternate;
    
    
}
#img2:hover{
    animation: rotate1 1s infinite ease-in-out alternate;
 
    
}
#img3:hover{
    animation: rotate2 1s infinite ease-in-out
    alternate;   
    
}
#img4:hover{
    animation: rotate3 1s infinite ease-in-out alternate;
  
    
}
span{
    letter-spacing: 3px;
   
}

.para{
    /* margin-left: 63px; */
    position: relative;
    font-size: 30px;
    color:white;
    display: inline-block;
    top: 20%;
    font-family: fantasy;
    font-weight: 900;
    letter-spacing: 3px;
    /* top: 40%;
    transform: translate(-20%, 50%); */
  
}
p span:hover {
    position: relative;
  
    display: inline-block;
    -webkit-animation: bounce 0.1s ease-in-out infinite alternate;
   
  }
  
 p span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
p span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
p span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
p span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  
  p span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  
  p span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  
  p span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
  }
  
  p span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
  }
  
  p span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
  }
  
  p span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
  }
  
  p span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
  }
  
  p span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
  }
  
  p span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
  }


@keyframes rotate{
        0%{
       transform: rotateY(0deg);
        }
        100%{
            transform: rotateY(90deg);
        }
    
}
@keyframes bounce{
    0%{
   transform: translateY(0)
    }
    100%{
        transform: translateY(-10px);
     
    }

}
@keyframes rotate1{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}
@keyframes rotate2{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}
@keyframes rotate3{
    0%{
   transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }

}