#arm{
  animation: wave 0.7s infinite alternate;
  transform-origin:revert;
  transform-box: fill-box;
}
#hand{
  animation: wave1 0.7s infinite alternate;
  transform-origin:revert;
  transform-box: fill-box;
}
svg{
  height: 100vh;
}
@keyframes wave{
  0%{
transform: rotate(6deg)
/* transform: rotate3d(1, 1, 1, -45deg); */
  }
  100%{
      transform: rotate(-3deg)
      /* transform: rotate3d(1, 1, 1, 45deg); */
  }
}
@keyframes wave1{
  0%{
transform: rotate(6deg)
/* transform: rotate3d(1, 1, 1, -45deg); */
  }
  100%{
      transform: rotate(-3deg)
      /* transform: rotate3d(1, 1, 1, 45deg); */
  }
}
