
<div class="heading">My Skills</div>
<div class="skills-container">
  <div class="skills-row">
    <div class="skill" *ngFor="let skill of skills.slice(0, 3)">
      <div class="circle-wrap">
        <div class="circle" [ngStyle]="{'background': 'conic-gradient(#ff4f00 0% ' + skill.percent + '%, #e6e6e6 ' + skill.percent + '% 100%)'}">
          <div class="inside-circle">{{ skill.percent }}%</div>
        </div>
      </div>
      <div class="skill-name">{{ skill.name }}</div>
    </div>
  </div>
  <div class="skills-row">
    <div class="skill" *ngFor="let skill of skills.slice(3, 6)">
      <div class="circle-wrap">
        <div class="circle" [ngStyle]="{'background': 'conic-gradient(#ff4f00 0% ' + skill.percent + '%, #e6e6e6 ' + skill.percent + '% 100%)'}">
          <div class="inside-circle">{{ skill.percent }}%</div>
        </div>
      </div>
      <div class="skill-name">{{ skill.name }}</div>
    </div>
  </div>
</div>


