<div class="container">
    <div class="row">
        <img src="../../assets/git.svg" alt="">
        <img src="../../assets/icons8-angular-a-typescript-based-open-source-web-application-framework-96.png"  alt="">
        <img src="../../assets/icons8-visual-studio-code-2019.svg" alt="">
        <img src="../../assets/icons8-js-squared.svg"  alt="">
        <img src="../../assets/HTML5-Badge.ico" alt="">
        <img src="../../assets/icons8-css3.svg" alt="">
        <img src="../../assets/icons8-visual-studio-2019.svg"   alt="">
        <img src="../../assets/karma.svg" style="height: 4rem;"  alt="">
        <img src="../../assets/jasmine.svg"   alt="">
        <img src="../../assets/icons8-postman-is-the-only-complete-api-development-environment-96 (1).png" alt="">
        <img src="../../assets/icons8-google-firebase-console.svg" alt="">
        <img src="../../assets/icons8-github copy.svg" alt="">
        <img src="../../assets/icons8-command-line-96.png" alt="">
        <img src="../../assets/icons8-responsive-128.png" alt="">
        <img src="../../assets/icons8-figma-96.png" alt="">
        <img src="../../assets/icons8-ionic-a-complete-open-source-sdk-for-hybrid-mobile-app-development-96.png" alt="">
        
    </div>
</div>
