html {
  scroll-behavior: smooth;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  width: auto;
}
img {
  height: 250px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

span {
  letter-spacing: 3px;
}

.area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.area > div {
  width: 45%;
  text-align: center;
}

.para {
  font-size: 30px;
  color: white;
  font-family: Lobster;
  font-weight: 900;
  letter-spacing: 3px;
  margin-top: 5px;
}

p span:hover {
  display: inline-block;
  -webkit-animation: bounce 0.1s ease-in-out infinite alternate;
}

p span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

p span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

p span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

p span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

p span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

p span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

p span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

p span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

p span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

p span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

p span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

p span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

p span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

@media (max-width: 480px) {
  .area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: auto;
  }
  img {
      height: 150px !important;
  }
  .para {
      font-family: Lobster;
      font-size: 20px;
  }
  .area > div {
      width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  .area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: auto;
  }
  img {
      height: 250px !important;
  }
  .para {
      font-family: Lobster;
      font-size: 26px;
  }
  .area > div {
      width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: calc(100% - 2rem);
    width: 100%;
    justify-content: center;
  }
  .container{
    width: auto;
  }
  img {
      height: 250px !important;
  }
  .para {
      font-family: Lobster;
      font-size: 42px;
  }
  .area > div {
      width: auto;
  }
}
  @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
    .area{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      max-width: calc(100% - 2rem);
      width: 100%;
      justify-content: center;
    }
    img {
      height: 340px;
      transition: transform 0.3s ease-in-out;
    }
  .para {
      font-family: Lobster;
      font-size: 42px;
  }
  .area > div {
      width: auto;
  }
}
  /* Media query for Google Nest Hub and similar screens */
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
  .area {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }

  img {
    height: 150px!important ;
  }

  .para {
    font-size: 20px;
  }

  .area > div {
    width: 100%;
  }
}
  @media screen and (min-width: 1024px) and (orientation: landscape) {



  }

