<!-- <div class="heading">
    <h1>Some of the projects I have worked on..</h1>
</div> -->

<div class="card-container">
    <div class="card">
        <img src="../../assets/Nad.jpg" alt="">
        <!-- <img src="../../assets/ziply.jpg" alt="">
        <img src="../../assets/console.jpg" alt=""> -->
        <div class="info">
            <h1>#NewAgeDelivery</h1>
            <p>It is a platform intended to transform the IT delivery model from 'build' to 'reuse' & 'deploy'</p>
        </div>

    </div>
    <div class="card">
        <img src="../../assets/ziply.jpg" alt="">
        <div class="info">
        <h1>Ziply Fiber</h1>
        <p>It is a portal where the users can place their orders for installation of optic fiber after selecting their desired plan options.</p>
    </div>
    </div>
    <div class="card">
        <img src="../../assets/console.jpg" alt="">
        <div class="info">
        <h1>Virtuoso Console</h1>
        <p>A central application in virtuoso-myConcerto(Accenture) which offers easy client onboarding & environment setup,a Launchpoint for all myConcerto Applications & a respository for re-usable components to accelerate development.</p>
    </div>
    </div>
    <div class="card" >
        <img src="../../assets/BT.jpg" alt="">
        <div class="info">
        <h1>BT-NGWFMT</h1>
        <p>Client project of BT .WFMT is network engineering workflow & engineering project orchestration tool that will manage various network plan& build activities within openreach & BT wholesale.</p>
    </div>
    </div>
    <div class="card" >
      <img src="../../assets/CDA.png" alt="">
      <div class="info">
      <h1>Crime Data Analysis</h1>
      <p>This project aims to perform analysis of crime data across the United States using Big Data technologies. The Analysed data is then represented in various graphical formant like Bar chart,Pie chart etc.</p>
  </div>
  </div>
  <div class="card" >
    <img src="../../assets/BT.jpg" alt="">
    <div class="info">
    <h1>Wordle Replica</h1>
    <p>The goal is to Design endpoints for an application similar to Wordle.It will allow user to play more than one game in a day unlike the orignal wordle</p>
</div>
</div>
</div>
